# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

network:
 version: 2
 renderer: networkd
 ethernets:
   eth0:
     dhcp4: no
     dhcp6: no
     addresses:
       - TARGET_ADDRESS/TARGET_NETMASK_NUMBER
       - TARGET_V6_ADDRESS/64
     gateway4: TARGET_GATEWAY
     gateway6: TARGET_V6_GATEWAY
     nameservers:
       addresses: [8.8.8.8,8.8.4.4]
