# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto ens5
iface ens5 inet static
  address TARGET_ADDRESS
  netmask TARGET_NETMASK
  gateway TARGET_GATEWAY 
  dns-nameservers 8.8.8.8

